{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<title>Реклама</title>

<style>
body{
  margin:0;
  background:black;
  width:100vw;
  height:100vh;
  overflow:hidden;
}

video{
  position:absolute;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  object-fit:cover;
}
</style>

</head>
<body>

<video id="player" autoplay muted playsinline preload="auto"></video>

<script>

const videos = [
"{% static 'videos/burger.mp4' %}",
"{% static 'videos/pizza.mp4' %}",
"{% static 'videos/stripsy.mp4' %}",
"{% static 'videos/shawerma.mp4' %}"
];

let index = 0;
const player = document.getElementById("player");

function playVideo(){
  player.src = videos[index];
  player.load();
  player.play();

  index++;
  if(index >= videos.length){
    index = 0;
  }
}

player.addEventListener("ended", playVideo);

// старт
playVideo();

</script>

</body>
</html>


